# Ignore all .idea files and directories
.idea/

# Ignore all .pyc files (compiled Python files)
*.pyc

# Ignore specific files
features/__pycache__/
features/pages/__pycache__/
features/utilities/__pycache__/
.idea/misc.xml
.idea/NYB ADMIN.iml
features/utilities/__pycache__/__init__.cpython-312.pyc
features/utilities/__pycache__/ConfigReader.cpython-312.pyc
features/pages/__pycache__/url_verification.cpython-312.pyc
features/pages/__pycache__/url_verification.cpython-312.pyc
features/pages/__pycache__/login.cpython-312.pyc
features/pages/__pycache__/invoice_and_packing_slip.cpython-312.pyc
features/pages/__pycache__/inventory.cpython-312.pyc
features/pages/__pycache__/create_inbound_inventory.cpython-312.pyc
features/pages/__pycache__/base_page.cpython-312.pyc
features/pages/__pycache__/__init__.cpython-312.pyc
features/configurations/create_inbound_inventory.ini
features/__pycache__/__init__.cpython-312.pyc
